.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: auto;
}
.footer-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #221f20;
    color: #D5D5D7;
    font-size: 16px;
    font-weight: 300;
}

.copyright {
    color: #D5D5D7;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: #221f20;
}