body {
  margin: 0, 3% 0 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: #eeff00;
  text-decoration: none;
}

a:hover {
  color: #221f20;
  background-color: white;
}

/* Add a global style for buttons */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:#ffcc01;
  color: black;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
}

button:hover {
  background-color: black;
  color: #ffcc01;
}

h3 {
  background-color: transparent;
}

/* pallette: #2f372f; */