.like {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  bottom: center;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 100;
  background-color: blue;
  font-size:3rem;
  padding: 0 0 0 0;

}

.like:hover {
  background-color:transparent;
  color: #ffcc01;
  box-shadow: none;

}