/* .login {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 300px;
  background-color: #2b578e;
  padding: 10px 10px;
  margin: 15px;
  border-radius: 1rem;
}

.login-btn {
  width: 100px;
  height: 50px;
  font-size: x-large;
  padding: 5px;
} */