/* Navbar CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
  border-bottom: #ffcc01 2px solid;
  margin-bottom: 10px;
}

.topnav-buttons {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #221f20;
  color:white;
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.search {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-self : flex-start;
  gap: 10px;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
.navbar input  {
  font-size: 24px;
  outline: none;
  border:#000;
  background: #454545;
  padding: 8px;
  margin: 0 0;
  border-radius: 10px;
  color: #f1e4c7;
}

.topnav-buttons > * {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.navbar button:hover {
  background-color: white;
  color: black;
}

/* AAR CSS */
.tab {
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color:#ffcc01;
  font-weight: 600;
}

.tab:hover {
  background-color: white;
  color: #221f20;
}

.page-title {
  font-size: 3rem;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color:  #ffcc01;
}


